.container {
    text-align: center;
    max-width: 100%;
    height: 100vh;
}

.content {
 display: inline-flex;
 margin-top:  10%;
 margin-bottom: 150px;
}

  mat-card {
    text-align: center;
    justify-content: center;
  }

  mat-form-field {
    width: 90%;
  }

  .centered-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 350px;
    height: auto;
  }

  .red-letter {
    color: red;
  }

  .meta-card-text {
    font-size: 85px;
    font-weight: 700;
    color: #636363;

    @media screen and (max-width: 1400px) {
        font-size: 50px; /* Font size on breakpoint */
      }
  
    @media screen and (max-width: 768px) {
      font-size: 30px; /* Font size on breakpoint */
    }
  
    @media screen and (max-width: 480px) {
      font-size: 20px; /* Font size on another breakpoint */
    }
  }
  